@model IEnumerable<LanchesMac.Models.Lanche>




@*
<div>
    <h2>@ViewData["Titulo"]</h2> 
</div>
*@
<div>
    <h2>Todos os Lanches</h2>
</div>
@* <h2>@ViewData["Data"]</h2> *@
@* <hr /> *@
@* <h3>@ViewBag.Total @ViewBag.TotalLanches</h3> *@
@* <hr /> *@

@* <h1>@TempData["Nome"]</h1> *@

<div class="container">
<div class="row">
@foreach (var lanche in Model)
{
    <div class="col-sm-4 col-md-4 col-lg-4">
        <p><img src="@lanche.imageUrl" class="img-fluid"></p>
          <h3>Preço: @lanche.Preco.ToString("c")</h3>
          <h4>@lanche.Nome</h4>
          <p>@lanche.DescricaoCurta</p>
    </div>
}
</div>
</div>